#navbar{
    margin: 8vh;
    position: relative;
    display:inline-block;
    position:absolute;
    right:0;
}

#navbar a{
    font-size:x-large;
    margin:5vh;
    text-decoration: none;
    color:grey;
}

#navbar a:hover{
    color:black;
}